body {
  margin: 0;
}

nav {
  padding: 1rem 3rem;
  background-color: lightgray;

  .logo {
    font-size: x-large;
    font-weight: bold;
    margin-right: 1rem;
  }
}

main {
  max-width: 700px;
  margin: 2rem auto 0 auto;
}

table.form {
  border-collapse: collapse;
  width: 80%;

  th {
    // background-color: $primary;
    color: $header-font-color;
    font-weight: normal;
    text-align: right;
  }

  th,
  td {
    // border: solid 1px black;
    padding: 0.5rem;
  }

  tfoot td {
    border: none;
    text-align: center;
  }
}

.width-7 {
  width: 7rem;
}

.width-10 {
  width: 10rem;
}
